body{
    background: rgb(47, 81, 133);
    font: normal 15pt arial;
}

header{
    color: white;
    text-align: center;
}

section{
    padding: 15px; /* abre um espaço */
    background: white;
    border-radius: 6px; /* arredonda as pontas do padding */
    width: 500px;
    margin: auto; /* centraliza */
    box-shadow: 5px 5px 10px rgb(43, 10, 10); /* sombras*/
    
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}